body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin-top: 20%;
  }
  
  .cursor {
    font-weight: bold;
    color: white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  #weather {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
  }
  
  #weather h2 {
    margin: 5px 0;
  }
  
  #weather p {
    margin: 2px 0;
  }
  
  #weatherIcon {
    vertical-align: middle;
    margin-right: 10px;
  }
  